
nav a {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0;
  text-decoration: none;
}
nav a:hover {
  color: #A8FBE2;
}
.sidebar {
  background-color: #A92D7E;
  min-height: 100vh;
  position: relative;
}
.sign-out {
  margin-top: 8rem;
}