<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Mutual Aid Bank</title>
    <link rel="stylesheet" href="/css/login-signup.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-moneyhill">
    <nav class="font-dm-sans">
      <div class="nav-pages">
        <a href="/">
          <img src="images/MAB-LOGO.png" alt="Mutual Aid Bank logo" class="logo">
        </a>
        <a href="#" class="hidden">About</a>
        <a href="#" class="hidden">Contact</a>
      </div>
      <div>
        <a href="/login" class="btn-nav-login hidden">Log In</a>
        <a href="/signup" class="btn-nav-apply">Apply</a>
      </div>
    </nav>

    <div class="container flex justify-around my-3 mobile-container">

      <div class="login-copy">
        <div>
          <h1>Welcome back!</h1>
          <p>Bagheera missed you a whole lot.</p>
          <img src="images/bagheera-sad.png" alt="Sad Bagheera with puppy eyes :(" class="img-bagheera"> 
        </div>
      </div>

      <div class="login-form">
        <form action="/login" method="POST" class="form-login">
          <div>
            <label class="form-title" for="email">Email</label>
            <div class="input-box">
              <div>
                <i class="fas fa-envelope"></i>
              </div>
              <input name="email" type="email" placeholder="bagheera@hotmail.com" required />
            </div>
            <p class="my-2 privacy-message">
              We'll never share your email with anyone else.
            </p>
          </div>
          <div class="mb-3 mt-3">
            <label class="form-title" for="password">Password</label>
            <div class="input-box">
              <div>
                <i class="fas fa-lock"></i>
              </div>
              <input name="password" type="password" placeholder="iliketoeatBEANies93" required />
            </div>
          </div>
          <button class="login-btn" type="submit">Login</button>
        </form>
      </div> 
      <!-- END OF LOGIN FORM -->

    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
