<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/house.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"s
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/phosphor-icons"></script>
  </head>
  <body>
    <div class="d-flex">
      <div class="col-sm-2">
        <div class="sidebar font-dm-sans p-4 text-white">
          
          <img src="/images/MAB-LOGO.png"  class="navbar-brand" alt="Mutual Bank Aid logo">
          <nav class="d-flex flex-column">
            <a href="#">Dashboard</a>
            <a href="#">House</a>
            <a href="#">Profile</a>
            <a href="/settings" >Settings</a>
          </nav>
          <button class="btn btn-sign-out"><a>Sign out</button></a>
        </div>
      </div>
   

      <!-- /* ===== HOUSE + PAYMENT BOX ===== */ -->

      <div class="col-sm-10 content">
        <header>
          <h1 class="house-name">House Gardner</h1>
          <div class="row">
          <div class="col-sm-10">
     
          <div class="payment-bar">
            <div class="payment-items">
              <span class="payment-number">$43</span>
              <span class="payment-title">Current Pool</span>
            </div>
            <div class="payment-items">
              <span class="payment-number">01/18/2022</span>
              <span class="payment-title">Current Cycle Ends</span>
            </div>
            <div class="payment-items">
              <span class="payment-number">5 days</span>
              <span class="payment-title">Countdown</span>
            </div>
            <div class="payment-items">
              <span class="payment-number">$0</span>
              <span class="payment-title">Minimum Payment</span>
            </div>
          </div>
        </row>

          <div class="col-lg-12 mt-2 justify-content-center">
            <div class="deposit-container ">
              <form action="/depositMoney" class="deposit-form shadow-sm p-3 rounded form-responsive" method="POST">
                <section>
                  <label for="money">Deposit amount: </label>
                  <input name="money" placeholder="$1.00" type="number" class="deposit-input" />
                </section>
                <button type="submit" class="btn btn-deposit btn-block"><a>Deposit</button></a>
              </form>
            </div>
          </div>
        </div>
        </header>

        <div class="house-info-and-messages">

          <!-- /* ==== HOUSE INFORMATION ROW ==== */ -->

          <div class="house-info">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th scope="col">Member</th>
                  <th scope="col">Contribution</th>
                  <th scope="col">Payout</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Troi</th>
                  <td>$50</td>
                  <td>May 2022</td>
                  <td><a><button class="btn btn-payout btn-primary">Payout</button></td></a>
                </tr>
              
              </tbody>
            </table>
          </div>
        
          <!-- === HOUSE MESSAGE BOARD === -->

          <div class="message-board">
            <h3>Message Board</h3>
            <!-- <% for(var i=0; i<messages.length; i++) {%> -->
              
              <div class="card" style="width: 100%;">
                <div class="card-body">
                  <span>
                    Jeon
                    <!-- <%= messages[i].name %> -->
                  </span>
                  |
                  <span>
                    More money for my Starbucks Reserve subscription
                  </span>
                </div>
              </div>

              <div class="card mt-2" style="width: 100%;">
                <div class="card-body">
                  <span>
                    Jeon
                    <!-- <%= messages[i].name %> -->
                  </span>
                  |
                  <span>
                    More money for my Starbucks Reserve subscription
                  </span>
                </div>
              </div>
               <!-- <% } %> -->
            <form action="/addMessage" method="POST" class="">
              <div class="input-group mb-3">
                <input type="text" class="form-control mt-2" placeholder="Send a message...." aria-label="Recipient's username" aria-describedby="basic-addon2" name="msg">
                <div class="input-group-append">
                  <button type="submit" class="btn mt-2" type="button"><a><i class="ph-arrow-square-up"></i></button></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <script src="/js/deposit-modal.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>

</html>


