<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mutual Aid Bank</title>
    <link rel="stylesheet" href="/css/login-signup.css" />


    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Logo</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <form class="d-flex">
            <button href="/login" type="button" class="btn btn-flat">Log in</button>
            <button href="/signup" type="button" class="btn btn-flat2">Apply</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7 col-xl-5">
          <div class="card">
            <div class="card-header">
              <h1 class="m-0 h2">Sign Up</h1>
            </div>
            <div class="card-body">
              <form action="/signup" method="POST">
                <div class="mb-4">
                  <label for="firstName">First Name</label>
                  <div class="input-group pt-2">
                    <div class="input-group-text" id="basic-addon1">
                      <i class="fas fa-signature"></i>
                    </div>
                    <input
                      class="form-control"
                      name="firstName"
                      id="firstName"
                      type="text"
                      placeholder="Tim"
                    />
                  </div>
                </div>

                <div class="mb-4">
                  <label for="lastName">Last Name</label>
                  <div class="input-group pt-2">
                    <div class="input-group-text" id="basic-addon1">
                      <i class="fas fa-signature"></i>
                    </div>
                    <input
                      class="form-control"
                      name="lastName"
                      id="lastName"
                      type="text"
                      placeholder="Apple"
                    />
                  </div>
                </div>

                <div class="mb-4">
                  <label for="pronouns">Pronouns</label>
                  <div class="input-group pt-2">
                    <div class="input-group-text" id="basic-addon1">
                      <i class="fas fa-genderless"></i>
                    </div>
                    <input
                      class="form-control"
                      name="pronouns"
                      id="pronouns"
                      type="text"
                      placeholder="Optional"
                    />
                  </div>
                </div>

                <div class="mb-4">
                  <label for="email">Email</label>
                  <div class="input-group pt-2">
                    <div class="input-group-text" id="basic-addon1">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <input
                      class="form-control"
                      name="email"
                      id="email"
                      type="email"
                      placeholder="bagheera@hotmail.com"
                    />
                  </div>
                </div>

                <div class="mb-4">
                  <label for="password">Password</label>
                  <div class="input-group pt-2">
                    <div class="input-group-text" id="basic-addon1">
                      <i class="fas fa-lock"></i>
                    </div>
                    <input
                      class="form-control"
                      name="password"
                      id="password"
                      type="password"
                      placeholder="whatAGoodBoy37!"
                    />
                  </div>
                </div>

                <div class="mb-4 pt-2">
                  <input
                    name="terms"
                    type="checkbox"
                    label="I have agreed to the Terms & Conditions"
                  />
                  <label for="terms"
                    >I have agreed to the Terms & Conditions</label
                  >
                </div>
                <button class="btn login-btn mt-2 px-3" type="submit">
                  Join
                </button>
              </form>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
