@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@400;500;600;700&display=swap');

/* DASHBOARD */

a:link{
  text-decoration: none;
}

.content{
  background: #F1F4FD;
}

#dashboard-container {
  max-width: 1800px;
}
.dashboard-card{
  border-radius: 8px;
  margin-left: -10px;
}

.profile-pic {
  border: 4px solid #ffffff;
  border-radius: 100%;
  box-shadow: 5px -5px 52px 0px #99acb5;
  height: 4.5rem;
  margin-right: 2rem;
  width: 4.5rem;
}

.welcome-box {
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  background: #051D40;
  border-radius: 32px;
  padding: 32px;
  margin: 16px 0;
  color: white;
}

.house-box {
  border-radius: 8px;
  padding: 2rem;
  background: #fcc03ea5;
  background-color: #FCC03E !important;
}

h6, h2{
  color: #FCC03E;
}

.bank-card {
  /* background: #FCC03E; */
  background-color: #F1F4FD;
  border-radius: 15px;
  height: 219.53px;
  margin: 0 auto;
  width: 370px;
 
}

.welcome-summary {
  border-bottom: 2px solid white;
}

/* Sidebar */
nav a {
  color: #051D40;
  font-size: 1.25rem;
  font-family: "DM Sans" , helvetica;
  font-weight: 500;
  padding: 1rem 0;
  text-decoration: none;
}

nav a:hover {
  color: #000000;
}

.sidebar {
  background-color: #C5D5E4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: -3%;
  position: relative;
  text-align: center;
}

.btn-sign-out {
  align-self: center;
  background-color: rgb(226 232 240);
  border: none;
  text-decoration: none !important;
  border-radius: 8px;
  font-size: clamp(.5rem, 2.5vw, 1.25rem); 
  margin-top: clamp(4rem, 5vw, 8rem); 
  padding: 4px 8px;
  width: 75%;

  font-family: "DM Sans" , helvetica;
  
}

.btn-sign-out:hover {
  background-color: #FD871B;
  color: #FFFFFC;
  text-decoration: none !important;
}

t-form {
  color: #36454F;
  background-color: #FFFFFC;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  width: 40% !important;
}