@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.accordion-item{
    background-color: #003090 !important;
    color: #FFFFFF !important;
    margin: 2em 0 !important;
}

.accordion.header{
    background-color: #003090 !important;
    color: #FFFFFF !important;
}

.btn-flat {
    border-color: #003090 !important;
    color: #003090 !important;
    font-size: .8em !important;
    margin-right: 1em !important;
    width: 8em;

}

.btn-flat2 {
    background-color: #003090 !important;
    color: white !important;
    font-size: .8em !important;
    width: 8em;

}

.btn-md {
    font-size: .8em !important;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 1rem 1.5rem;
}


.col{
    margin-right: 8em !important;
}

.card-title{
    color: #003090 !important;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.footer{
    color: #003090 !important;
    height: 200px;
    position: relative;
    top: 150px;
    left: 90px;
    float: left;
    width: 90%;
    text-align: center;
    
}

.footerItem{
    color: black;
}

.hr{
    width: 100%;
    height: 100px; 
}

.nav{
    background-color: white !important;
}

.nav-link {
    color: #003090 !important;
    font-size: .8em !important;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding: 0 2em !important;
}

.placeholder{
    background-color: #003090 !important;
}